* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
div.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}